body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}*{
    margin: 0%;
    padding: 0%;
}
header,footer{
    position:absolute;
    background-color: blue;
    width: 100%;
    color: white;
}
header h1{
    position:absolute;
    left: 20px;
}
header{
    height: 10vh;
}
footer{
    height: 10vh;
    bottom: 0%;
}
footer h2{
    position:absolute;
    left: 45%;
}
.nav{
    position: absolute;
    width: 100%;
}
.nav a{
    position: relative;
    left: 45%;
    top: 20px;
    color: white;
    text-decoration:none  ;
    margin-right: 20px;
}
footer p{
    position: absolute;
    left: 48%;
    bottom: 20px;
    color: yellow;
}